/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #020202;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.interface .flex .logo {
    width: 100%;
    height: 100%;
}

.btn-contato button {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #aa5267;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #aa5267;
    transform: scale(1.05);
}

h2.titulo {
    columns: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #aa5266;
}

/* Header */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #aa5267;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
}

/* Menu mobile */

.btn-abrir-menu i {
    color: #fff;
    font-size: 40px;
}

.menu-mobile {
    background-color: #020202;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #fff;
    font-size: 30px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #aa5267;
    color: #020202;
}

.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*MENU JS */


/* Topo do site */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #aa5267;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}


.topo-do-site .img-topo-site img {
    width: 100%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0;

    }

    100% {
        top: 30px;
    }
}


/* ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;
    color: #fff;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.especialidades .flex {
    gap: 80px;
}

.especialidades .especialidades-box {
    color: #aa5267;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    margin-top: 45px;
    transition: 0.2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #aa5267;
}

.especialidades .especialidades-box i {
    font-size: 20px;
    color: #fff;
}

.especialidades .especialidades-box h3 {
    font-size: 25px;
    margin: 15px 0;
    color: #aa5267;
    text-align: center;
}

.especialidades .especialidades-box h3 span {
    font-size: 25px;
    margin: 15px 0;
    color: #aa5267;
    text-align: center;
}

.especialidades .especialidades-box h2 {
    font-size: 20px;
    margin: 15px 0;
    color: #aa5267;
}


.especialidades .especialidades-box p {
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
    padding: 0;
}

/* Sobre */

section.sobre {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.sobre .flex {
    align-items: center;
    gap: 50px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #aa5267;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .img-sobre {
    width: 100%;
}

/* Curso */

section.curso {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.curso .flex {
    align-items: center;
    gap: 60px;
}

.curso .txt-curso {
    color: #fff;
}

.curso .txt-topo-curso h1 {
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}

.curso .txt-topo-curso h1 span {
    color: #aa5267;
}

.curso .txt-topo-curso h2 {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.curso .txt-topo-curso h2 span {
    color: #aa5267;
}

.curso .txt-topo-curso p {
    color: #fff;
    margin: 40px 0;
}

.curso .img-curso {
    width: 70%;
}

/*Programação*/
section.programacao {
    padding: 80px 4%;

    /*box-shadow: 0 0 40px 10px #ffffff1d;*/
}

.programacao {
    max-width: 800px;
    margin: 0 auto;
}

.programacao .interface {
    max-width: 800px;
    margin: 0 auto;
}

.programacao .txt-programacao h1 {
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}

.programacao .txt-programacao h1 span {
    color: #aa5267;
}

.programacao .txt-programacao ul {
    margin: 20px 0;
    margin-left: 20px;
    color: #FFF;
}

.programacao .txt-programacao ul li {
    margin: 20px 0;
    margin-left: 20px;
    color: #FFF;
}


.programacao .txt-programacao p {
    color: #fff;
    margin: 40px 0;
    margin-left: 20px;
}

.programacao .txt-programacao p span {
    color: #aa5267;
}

/*Feedback*/
section.feedback-card {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.feedback-container {
    max-width: 800px;
    margin: 20px auto;
}

.feedback-container h1 {
    color: #FFF;
    text-align: center;
    font-size: 35px;
}

.feedback-container h1 span {
    color: #aa5267;
}

.feedback {
    display: flex;
    margin-bottom: 20px;
}


.feedback i {
    color: #aa5266;
    font-size: 50px;
}

.feedback-avatar {
    flex-shrink: 0;
    margin-right: 10px;
}

.feedback-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feedback-content {
    flex-grow: 1;
}

.customer-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #aa5266;
}

.feedback-text {
    margin: 0;
    color: #FFF;
}

/*Grid cards imagens*/

section.grid-card {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.grid-card {
    text-align: center;
}

.grid-card h1 {
    color: #FFF;
}

.grid-card h1 span {
    color: #aa5266;
}

.grid-item p {
    color: #aa5266;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    margin: 10px;
    text-align: center;
}

/*MAPA*/
section.map {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.map .flex h1 {
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}


.map .flex h1 span {
    color: #aa5266;
}

.map .flex i {
    color: #aa5266;
}

.map .flex h2 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.map .flex h2 span {
    color: #aa5266;
}

.map .mapBox-1 {
    position: relative;
    /*width: 600px;
    height: 500px;*/
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}

.map .mapBox-1 h1 {
    color: #FFF;
    text-align: center;
}

.map .mapBox-1 i {
    color: #aa5266;
}

.mapBox-1 iframe {
    width: 100%;
    height: 100%;
}

.map .mapBox-2 {
    position: relative;
    width: 100%;
    /*width: 600px;
    height: 500px;*/
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
}

.map .mapBox-2 h1 {
    color: #FFF;
    text-align: center;
}

.map .mapBox-2 i {
    color: #aa5266;
}

.mapBox-2 iframe {
    width: 100%;
    height: 100%;
}


/*BTN*/

.btn-social h1 {
    color: #aa5267;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #aa5267;
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #aa5267;
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
}




/* FORMULARIO */

section.formulario {
    padding: 80px 4%;
    color: #fff;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #363636;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFF;
    font-size: 18px;
}

/* form input::placeholder{
    color: #aa5267;
} */

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #aa5267;
    color: #020202;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #aa5267;
}

footer .line-footer h1 {
    color: #aa5267;
    font-size: 20px;
    text-align: center;
}

footer .line-footer p {
    color: #FFF;
    font-size: 16px;
    text-align: left;

}

footer .line-footer p i {
    color: #aa5267;
    font-size: 22px;
}

footer .line-footer p a {
    color: #FFF;
}



footer .footer {
    border-top: 2px solid #ffffff1d;
}

footer .footer p {
    color: #FFF;
    text-align: center;
}

footer .footer span {
    color: #344c3c;
}

@media screen and (max-width: 1020px) {

    /* classes gerais */

    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 35px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* Header */
    header .menu-desktop,
    header .btn-contato {
        display: none;
    }

    /* topo do site */
    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* Especialdades */
    section.especialidades {
        padding: 40px 8%;
        box-shadow: 0 0 40px 10px #ffffff1d;
    }

    /* Sobre */
    section.sobre {
        padding: 80px 8%;
        box-shadow: 0 0 40px 10px #ffffff1d;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .mapBox-1,
    .mapBox-2 {
        width: 45%;
        float: left;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 15px;
    }

    .grid-card h1 {
        color: #FFF;
        text-align: center;
    }
    
    .grid-card span {
        color: #aa5266;
    }
    
    .grid-item img {
        max-width: 100%;
        height: auto;
    }
    
    .grid-item p {
        color: #aa5266;
    }
   

    .img-sobre img,
    .img-curso img {
        width: 100%;
        border: 2px solid #000;
        border-radius: 15px;
    }

    /* Rodapé */

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}
